{% extends "layout.html" %}
{% block content %}
    <h1 class="lHead">About Swoll with Samsung: Frequently asked questions</h1>
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title"></a><h2>Q: How do I request a new exercise?</h2></h2>
            <p class="article-content">A: Simply go the the request tab to propose a new exercise, which will then be send to the council for deliberation. If they choose to accept your request, it will be assigned a point value and be added for everone to use.</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title"></a><h2>Q: How do I edit my exercises</h2></h2>
            <p class="article-content">A: Click on the exercises tab, select the exercise you want to add to, and enter the quantity. If you are done, press done, otherwise press add another exercise.</p>
        </div>
    </article>
{% endblock content %}
