{% extends "layout.html" %}
{% block content %}
    <div class='content-section'>
        <form method='POST' action ="">
            {{ formR.hidden_tag() }}
            <fieldseet class='form-group'>
                <legend class='border-bottom mb-4'>Set up your swoll account!</legend>
                <div class='form-group'>
                    {{ formR.username.label(class='form-control-label') }}
                    {% if formR.username.errors %}
                        {{ formR.username(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in formR.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formR.username(class='form-control form-control-lg', placeHolder="Your Name") }}
                    {% endif %}  
                </div>

                <div class='form-group'>
                    {{ formR.email.label(class='form-control-label') }}
                    {% if formR.email.errors %}
                        {{ formR.email(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in formR.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formR.email(class='form-control form-control-lg', placeHolder="youremail@email.com") }}
                    {% endif %}                     
                </div>
                <div class='form-group'>
                    {{ formR.phone.label(class='form-control-label') }}
                    {{ formR.phone(class='form-control form-control-lg', placeHolder="1234567890") }}
                </div>
                <div class='form-group'>
                    {{ formR.color.label(class='form-control-label') }}
                    <input name="color" type="color" value="{{ color }}" class='form-control form-control-lg'>
                </div>
                <div class='form-group'>
                    {{ formR.password.label(class='form-control-label') }}
                    {% if formR.password.errors %}
                        {{ formR.password(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in formR.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formR.password(class='form-control form-control-lg', placeHolder="••••••••") }}
                    {% endif %} 
                </div>
                <div class='form-group'>
                    {{ formR.passwordConfirm.label(class='form-control-label') }}
                    {% if formR.passwordConfirm.errors %}
                        {{ formR.passwordConfirm(class='form-control form-control-lg is-invalid') }}
                        <div class='invalid-feedback'>
                            {% for error in formR.passwordConfirm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ formR.passwordConfirm(class='form-control form-control-lg', placeHolder="••••••••") }}
                    {% endif %}       
                </div>
            </fieldseet>
            <div class='form-group'>
                {{ formR.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class='text.muted'>
            Alread have an account? Good for you!
        </small>
    </div>
{% endblock content %}